In [1]:
# DATA PREPROCESSING :

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# LOAD DATASET :
data = pd.read_csv('STOCK DETAILS.csv')

In [3]:
# Quick look at the data
print(data.head())
print(data.info())

                        Date        Open        High         Low       Close  \
0  2018-11-29 00:00:00-05:00   43.829761   43.863354   42.639594   43.083508
1  2018-11-29 00:00:00-05:00  104.769074  105.519257  103.534595  104.636131
2  2018-11-29 00:00:00-05:00   54.176498   55.007500   54.099998   54.729000
3  2018-11-29 00:00:00-05:00   83.749496   84.499496   82.616501   83.678497
4  2018-11-29 00:00:00-05:00   39.692784   40.064904   38.735195   39.037853

      Volume  Dividends  Stock Splits Company
0  167080000       0.00           0.0    AAPL
1   28123200       0.00           0.0    MSFT
2   31004000       0.00           0.0   GOOGL
3  132264000       0.00           0.0    AMZN
4   54917200       0.04           0.0    NVDA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602962 entries, 0 to 602961
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          602962 non-null  object
 1   Open          602962 non-null  float64
 2   High          602962 non-null  float64
 3   Low           602962 non-null  float64
 4   Close         602962 non-null  float64
 5   Volume        602962 non-null  int64
 6   Dividends     602962 non-null  float64
 7   Stock Splits  602962 non-null  float64
 8   Company       602962 non-null  object
dtypes: float64(6), int64(1), object(2)
memory usage: 41.4+ MB
None

In [4]:
company_name = 'AAPL'  

# Filter rows for this company only
data_company = data[data['Company'] == 'AAPL'].copy()

print(f"Total rows for {'AAPL'}: {len(data_company)}")

Total rows for AAPL: 1258

In [5]:
# converts date column to date and time formate :
data_company['Date'] = pd.to_datetime(data_company['Date'], utc=True)
data_company['Date'] = data_company['Date'].dt.tz_convert(None)

In [6]:
# sort data by 'date' and reset index:
data_company.sort_values('Date', inplace=True)
data_company.reset_index(drop=True, inplace=True)

In [7]:
# checking last 200 rows iof data and its shape :
data_200 = data_company.tail(200).copy()
print(f"Data shape for last 200 days: {data_200.shape}")

Data shape for last 200 days: (200, 9)

In [8]:
# check for missing values :
print(data_200.isnull().sum())

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
Company         0
dtype: int64

In [9]:
# calculating daitly price change nd average og 'close' price :
data_200['price_change'] = data_200['Close'] - data_200['Open']  
data_200['return_pct'] = data_200['Close'].pct_change()

In [10]:
# 7 days nd 14 days moving averge :
data_200['ma_7'] = data_200['Close'].rolling(window=7).mean()
data_200['ma_14'] = data_200['Close'].rolling(window=14).mean()

In [13]:
data_200.to_csv(f'{'AAPL'}_last_200_days_cleandata.csv', index=False)

In [15]:
data_company.to_csv('Data PreProcessing main.csv', index=False)